{{ username }} ALL=(ALL) NOPASSWD: /usr/bin/build
{{ username }} ALL=(ALL) NOPASSWD: /usr/bin/rake
# for https://github.com/openSUSE/obs-package-from-git
{{ username }} ALL=(ALL) NOPASSWD: /usr/bin/chroot
